/* HERO IMAGE */
.shader {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  z-index: 0; }

.hero--lake {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/lake.jpeg); }
  .hero--lake h1 {
    color: #FFF;
    margin: 0;
    font-size: 50px;
    z-index: 1; }

.hero--galaxy {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/galaxy.jpeg); }
  .hero--galaxy h1 {
    color: #FFF;
    margin: 0;
    font-size: 50px;
    z-index: 1; }

body {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-family: "Roboto", sans-serif; }

button {
  background-color: red;
  display: block; }

.button-two {
  background-color: green; }

#third-button {
  background-color: blue; }

ul {
  margin: 0; }

/* HEADER STYLES */
header {
  height: 35px;
  background: linear-gradient(141deg, #df42f4 0%, #1fc8db 51%, #2cb5e8 75%); }
  header ul li {
    display: inline-block;
    list-decoration: none;
    margin-top: 0px;
    margin-left: 15px;
    padding: 10px; }
    header ul li a {
      color: #FFF;
      text-decoration: none; }
