// body {
//   font-family: 'Roboto', sans-serif;
// }

@import 'partials/typography';
@import 'partials/heros';

body{
  font-family: $body-font;
}

h1{
  font-family: $heading-font;
}


button {
  background-color: red;
  display: block;
}

.button-two {
  background-color: green;
}

#third-button {
  background-color: blue;
}

ul {
  margin: 0;
}

/* HEADER STYLES */
header {
  height: 35px;
  background: linear-gradient(141deg, #df42f4 0%, #1fc8db 51%, #2cb5e8 75%);
  ul li {
    display: inline-block;
    list-decoration: none;
    margin-top: 0px;
    margin-left: 15px;
    padding: 10px;
    a {
      color: #FFF;
      text-decoration: none;
    }
  }
}




    

    