/* HERO IMAGE */
@mixin hero {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // ^ this keeps the image static when you scroll
  background-size: cover;
  
  h1 {
    color: #FFF;
    margin: 0;
    font-size: 50px;
    z-index: 1;
  }
}

  .shader {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
      z-index: 0;
  }

  .hero--lake {
    @include hero;
    background-image: url(../img/lake.jpeg);
  }

  .hero--galaxy {
    @include hero;
    background-image: url(../img/galaxy.jpeg);
  }